---
layout: default
title: Home
---

<SCRIPT TYPE="text/javascript">
<!--
function popup(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
href=mylink;
else
href=mylink.href;
window.open(href, windowname, 'width=400,height=200,scrollbars=yes');
return false;
}
//-->
</SCRIPT>

<!--<A 
HREF="Document/Introduction" 
onClick="return popup(this, 'notes')">my popup</A>-->


  
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>
  

<div class="pagination">
  {% if paginator.next_page %}
  <MAP NAME="index">
<AREA 
HREF="Document/Introduction" ALT="My Popup"
COORDS="10,10,120,120" SHAPE=RECT 
onClick="return popup(this, 'gloss')">
<AREA SHAPE=DEFAULT NOHREF>
</MAP>
<IMG SRC="images/rectangle.png" HEIGHT=130 WIDTH=190 ALT="Image Map Example"  BORDER="0" USEMAP="#index">
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
  <MAP NAME="index">
<AREA 
HREF="Document/Introduction" ALT="My Popup"
COORDS="10,10,120,120" SHAPE=RECT 
onClick="return popup(this, 'gloss')">
<AREA SHAPE=DEFAULT NOHREF>
</MAP>
<IMG SRC="images/rectangle.png" HEIGHT=130 WIDTH=190 ALT="Image Map Example"  BORDER="0" USEMAP="#index">
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
